# macOS system file
.DS_Store

# Python virtual environment
venv/

# secret
.env

# BFG Repo-Cleaner jar file
bfg-1.14.0.jar

# BFG Repo-Cleaner report directory
sprat.git.bfg-report/

# Git mirror repository
sprat.git/


# Django SQLite database
db.sqlite3

# Python bytecode cache
sprat/__pycache__/


env/
staticfiles/
tool/__pycache__/
tool/migrations/__pycache__/