{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container mt-5">
  <h1 class="text-center mb-4">Database References</h1>
  
  <!-- NCBI References -->
  <div class="mb-4">
    <h2>NCBI Pathogen Detection Database</h2>
    <p>
      The NCBI Pathogen Detection Project. 2016. National Center for Biotechnology Information, National Library of Medicine, National Institutes of Health, Bethesda, MD 20894, USA.
      <br>
      Available from: <a href="https://www.ncbi.nlm.nih.gov/pathogens/" target="_blank"> https://www.ncbi.nlm.nih.gov/pathogens/</a>
    </p>
  </div>

  <div class="mb-4">
    <h2>NCBI Sequence Read Archive (SRA)</h2>
    <p>
      The NCBI Sequence Read Archive. National Center for Biotechnology Information, National Library of Medicine, National Institutes of Health, Bethesda, MD 20894, USA.
      <br>
      Available from: <a href="https://www.ncbi.nlm.nih.gov/sra/" target="_blank"> https://www.ncbi.nlm.nih.gov/sra/</a>
    </p>
  </div>

  <!-- PubMLST References -->
  <div class="mb-4">
    <h2>PubMLST & Achtman 7-gene MLST Scheme</h2>
    <p>
      Jolley KA, Bray JE, Maiden MCJ. 2018. Open-access bacterial population genomics: BIGSdb software, the PubMLST.org website and their applications. Wellcome Open Res 24;3:124. 
      <br>
      PubMed: <a href="https://pubmed.ncbi.nlm.nih.gov/30345391" target="_blank">30345391</a> | 
      DOI: <a href="https://doi.org/10.12688/wellcomeopenres.14826.1" target="_blank">10.12688/wellcomeopenres.14826.1</a>
    </p>
    <p>
      Achtman M, Wain J, Weill FX, Nair S, Zhou Z, Sangal V, et al. 2012. Multilocus sequence typing as a replacement for serotyping in Salmonella enterica. PLoS Pathog 8(6):e1002776. 
      <br>
      PubMed: <a href="https://pubmed.ncbi.nlm.nih.gov/22737074" target="_blank">22737074</a> | 
      DOI: <a href="https://doi.org/10.1371/journal.ppat.1009040" target="_blank">10.1371/journal.ppat.1009040</a>
    </p>
  </div>

  <!-- Bacterial Antimicrobial Resistance References  -->
  <div class="mb-4">
    <h2>Bacterial Antimicrobial Resistance Reference Gene Database</h2>
    <p>
      Feldgarden M, Brover V, Gonzalez-Escalona N, Frye JG, Haendiges J, et al. 2021. AMRFinderPlus and the Reference Gene Catalog facilitate examination of the genomic links among antimicrobial resistance, stress response, and virulence. Sci Rep 11(1):12728.
      <br>
      PubMed: <a href="https://pubmed.ncbi.nlm.nih.gov/34135355" target="_blank">34135355</a> | 
      DOI: <a href="https://doi.org/10.1038/s41598-021-91456-0" target="_blank">10.1038/s41598-021-91456-0</a>
    </p>
    <p>
      Feldgarden M, Brover V, Fedorov B, et al. 2022. Curation of the AMRFinderPlus databases: applications, functionality and impact. Microb Genom 8(6):mgen000832.
      <br>
      PubMed: <a href="https://pubmed.ncbi.nlm.nih.gov/35675101" target="_blank">35675101</a> | 
      DOI: <a href="https://doi.org/10.1099/mgen.0.000832" target="_blank">10.1099/mgen.0.000832</a>
    </p>
  </div>

    <!-- VirulenceDB References -->
    <div class="mb-4">
        <h2>VirulenceDB</h2>
        <p>
            Han J, Tang H, Zhao S, Foley SL. 2024. Salmonella enterica virulence databases and bioinformatic analysis tools development. Sci Rep 14(1):25228.
          <br>
          PubMed: <a href="https://pubmed.ncbi.nlm.nih.gov/39448688/" target="_blank">39448688</a> | 
          DOI: <a href="https://doi.org/10.1038/s41598-024-74124-x" target="_blank">10.1038/s41598-024-74124-x</a>
        </p>
      </div>

  <!-- PlasmidFinder References -->
  <div class="mb-4">
    <h2>PlasmidFinder</h2>
    <p>
      Carattoli A, Zankari E, Garcia-Fernandez A, et al. 2014. In silico detection and typing of plasmids using PlasmidFinder and plasmid multilocus sequence typing. Antimicrob Agents Chemother 58:3895−3903.
      <br>
      PubMed: <a href="https://pubmed.ncbi.nlm.nih.gov/24777092/" target="_blank">24777092</a> | 
      DOI: <a href="https://doi.org/10.1128/aac.02412-14" target="_blank">10.1128/AAC.02412-14</a>
    </p>
  </div>


</div>

{% endblock %}
